.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

h3 {
  text-align: center;
}

button[data-testid="on/off_button"] {
  color: white;
}